<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Grabber Comparator</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/fancypants.css">

    <script src="/static/js/modernizr-2.5.3.js"></script>
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/underscore-1.3.1.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Grabber!</a>
          <div class="nav-collapse">
            <!-- <ul class="nav"> -->
            <!--   <li><a href="#hot">Hot!</a></li> -->
            <!--   <li><a href="#deals">Best Deals</a></li> -->
            <!--   <li><a href="#trends">Trends</a></li> -->
            <!-- </ul> -->
          </div>
        </div>
      </div>
    </div>

    <div class="grabber-container container">
     
      <div class="grabber-search-box row">
        <div class="span5 offset3">
          <form class="well form-search">
            <input type="text" class="input-large search-query grabber-search" value="yaozaaa!">
            <button type="submit" class="btn grabber-btn">Search</button>
          </form>
        </div>
      </div>

      <div class="row">
        {% for tile in tiles %}
        <div class="tile">
          <a href="#"><img src="http://placehold.it/80x100" alt=""/></a>
        </div>
        {% endfor %}
      </div>

    </div>

  </body>
</html>
