body {
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans"
}

.grabber-container {
    margin-top: 45px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.grabber-search-box {
    z-index: 1000px;
    top: 300px;
    position: fixed;
}

.grabber-search {
    width: 300px;
    margin-right: -5px;
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
}

.grabber-btn {
    width: 100px;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
    border-top-right-radius: 14px 14px;
    border-bottom-right-radius: 14px 14px;
}

.tile {
    display: inline;
}
