body {
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans"
}

.grabber-container {
    margin-top: 45px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.grabber-search-box {
    top: 300px;
    z-index: 1000px;
    position: fixed;
}

.grabber-search-bar {
    top: 50px;
    z-index: 1000px;
    position: fixed;
}

.grabber-search {
    width: 300px;
    margin-right: -5px;
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
}

.grabber-btn {
    width: 100px;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
    border-top-right-radius: 14px 14px;
    border-bottom-right-radius: 14px 14px;
}

.tile {
    display: inline;
}

::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background-color:#fff;
}
::-webkit-scrollbar:hover{
    background-color:#eee;
}
::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#666;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius:4px;
    background-color: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #bbb;
}
::-webkit-scrollbar-thumb:active{
    background-color:#888;
}
